USE [PeluqueriaSaaSDB]
GO
/****** Object:  Table [dbo].[TiposServicio]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[PrecioBase] [decimal](18, 2) NOT NULL,
	[Codigo] [nvarchar](max) NOT NULL,
	[Color] [nvarchar](max) NULL,
	[DuracionEstimadaMinutos] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[EsPorDefecto] [bit] NOT NULL,
	[EsSistema] [bit] NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Icono] [nvarchar](max) NULL,
	[Orden] [int] NOT NULL,
	[PermiteDescuentos] [bit] NOT NULL,
	[RequiereEspecialista] [bit] NOT NULL,
	[TenantId] [nvarchar](450) NOT NULL,
	[TiempoPreparacionMinutos] [int] NULL,
	[Activo] [bit] NOT NULL,
	[ActualizadoPor] [nvarchar](max) NOT NULL,
	[CreadoPor] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TiposServicio] ON
INSERT [dbo].[TiposServicio] ([Id], [Nombre], [Descripcion], [PrecioBase], [Codigo], [Color], [DuracionEstimadaMinutos], [EsActivo], [EsPorDefecto], [EsSistema], [FechaActualizacion], [FechaCreacion], [Icono], [Orden], [PermiteDescuentos], [RequiereEspecialista], [TenantId], [TiempoPreparacionMinutos], [Activo], [ActualizadoPor], [CreadoPor]) VALUES (1, N'Corte de Cabello', N'Corte y peinado básico', CAST(15000.00 AS Decimal(18, 2)), N'CORTE', NULL, 45, 1, 1, 0, NULL, CAST(0x076024027DAB7B480B AS DateTime2), NULL, 1, 1, 0, N'default', NULL, 1, N'system', N'system')
INSERT [dbo].[TiposServicio] ([Id], [Nombre], [Descripcion], [PrecioBase], [Codigo], [Color], [DuracionEstimadaMinutos], [EsActivo], [EsPorDefecto], [EsSistema], [FechaActualizacion], [FechaCreacion], [Icono], [Orden], [PermiteDescuentos], [RequiereEspecialista], [TenantId], [TiempoPreparacionMinutos], [Activo], [ActualizadoPor], [CreadoPor]) VALUES (2, N'Coloración', N'Tintura y coloración completa', CAST(35000.00 AS Decimal(18, 2)), N'COLOR', NULL, 90, 1, 0, 0, NULL, CAST(0x076024027DAB7B480B AS DateTime2), NULL, 2, 1, 1, N'default', NULL, 1, N'system', N'system')
INSERT [dbo].[TiposServicio] ([Id], [Nombre], [Descripcion], [PrecioBase], [Codigo], [Color], [DuracionEstimadaMinutos], [EsActivo], [EsPorDefecto], [EsSistema], [FechaActualizacion], [FechaCreacion], [Icono], [Orden], [PermiteDescuentos], [RequiereEspecialista], [TenantId], [TiempoPreparacionMinutos], [Activo], [ActualizadoPor], [CreadoPor]) VALUES (3, N'Manicure', N'Cuidado completo de uñas', CAST(12000.00 AS Decimal(18, 2)), N'MANICURE', NULL, 30, 1, 0, 0, NULL, CAST(0x076024027DAB7B480B AS DateTime2), NULL, 3, 1, 0, N'default', NULL, 1, N'system', N'system')
SET IDENTITY_INSERT [dbo].[TiposServicio] OFF
/****** Object:  Table [dbo].[Servicios]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[TipoServicioId] [int] NOT NULL,
	[TenantId] [nvarchar](450) NOT NULL,
	[Activo] [bit] NOT NULL,
	[ActualizadoPor] [nvarchar](max) NOT NULL,
	[CreadoPor] [nvarchar](max) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Moneda] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Servicios] ON
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Precio], [DuracionMinutos], [EsActivo], [TipoServicioId], [TenantId], [Activo], [ActualizadoPor], [CreadoPor], [FechaActualizacion], [FechaCreacion], [Moneda]) VALUES (1, N'Ondas al agua', N'cnasm,ncm,asncm,sncm,  ', CAST(1850.00 AS Decimal(18, 2)), 45, 0, 4, N'default', 1, N'system', N'system', CAST(0x07A2C235C8C67B480B AS DateTime2), CAST(0x07B8EC34C8C67B480B AS DateTime2), N'UYU')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Precio], [DuracionMinutos], [EsActivo], [TipoServicioId], [TenantId], [Activo], [ActualizadoPor], [CreadoPor], [FechaActualizacion], [FechaCreacion], [Moneda]) VALUES (2, N'Recorte de barba', NULL, CAST(280.00 AS Decimal(18, 2)), 20, 1, 1, N'default', 1, N'system', N'system', CAST(0x07311925E1C67B480B AS DateTime2), CAST(0x07A71825E1C67B480B AS DateTime2), N'UYU')
INSERT [dbo].[Servicios] ([Id], [Nombre], [Descripcion], [Precio], [DuracionMinutos], [EsActivo], [TipoServicioId], [TenantId], [Activo], [ActualizadoPor], [CreadoPor], [FechaActualizacion], [FechaCreacion], [Moneda]) VALUES (3, N'Corte Moderno Mujer', N'Corte de tendencia con técnicas actuales y peinado incluido', CAST(1200.00 AS Decimal(18, 2)), 45, 1, 1, N'default', 1, N'system', N'system', CAST(0x071006C914B17B480B AS DateTime2), CAST(0x0750C2291EAF7B480B AS DateTime2), N'UYU')
SET IDENTITY_INSERT [dbo].[Servicios] OFF
/****** Object:  Table [dbo].[Empleados]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NULL,
	[Cargo] [nvarchar](max) NOT NULL,
	[Salario] [decimal](18, 2) NULL,
	[FechaContratacion] [datetime2](7) NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[Horario] [nvarchar](max) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](max) NULL,
	[CodigoPostal] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[SucursalId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Empleados] ON
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [Email], [Telefono], [Cargo], [Salario], [FechaContratacion], [FechaRegistro], [EsActivo], [FechaNacimiento], [Horario], [Direccion], [Ciudad], [CodigoPostal], [Notas], [SucursalId]) VALUES (1, N'Ana', N'García López', N'ana.garcia@demo.cl', N'+56912345678', N'Estilista Senior', CAST(800000.00 AS Decimal(18, 2)), CAST(0x0700000000009E400B AS DateTime2), CAST(0x07269038F5AD7B480B AS DateTime2), 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Empleados] ([Id], [Nombre], [Apellido], [Email], [Telefono], [Cargo], [Salario], [FechaContratacion], [FechaRegistro], [EsActivo], [FechaNacimiento], [Horario], [Direccion], [Ciudad], [CodigoPostal], [Notas], [SucursalId]) VALUES (3, N'María', N'González Pérez', N'maria.gonzalez@demo.cl', N'+56976543210', N'Manicurista', CAST(550000.00 AS Decimal(18, 2)), CAST(0x07000000000024400B AS DateTime2), CAST(0x07E02913618B7B480B AS DateTime2), 1, CAST(0x07000000000039140B AS DateTime2), N'Lun-Vie 9:30-17:30', N'Lynch 321', N'Santiago', N'8340000', N'Especialista en nail art', NULL)
SET IDENTITY_INSERT [dbo].[Empleados] OFF
/****** Object:  Table [dbo].[ClientesBasicos]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientesBasicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Direccion] [nvarchar](max) NULL,
	[CodigoPostal] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[EsActivo] [bit] NOT NULL,
	[UltimaVisita] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ClientesBasicos] ON
INSERT [dbo].[ClientesBasicos] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [FechaRegistro], [Direccion], [CodigoPostal], [Ciudad], [Notas], [EsActivo], [UltimaVisita]) VALUES (1, N'Marcelo', N'Pirez', N'marcelopirezkondilis@gmail.com', N'094640299', CAST(0x070000000000C4030B AS DateTime2), CAST(0x079B395650AA7B480B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', NULL, N'Montevideo', NULL, 1, NULL)
INSERT [dbo].[ClientesBasicos] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [FechaRegistro], [Direccion], [CodigoPostal], [Ciudad], [Notas], [EsActivo], [UltimaVisita]) VALUES (3, N'Rosana', N'D''Angelo', N'rosanadan82@gmail.com', N'094110458', CAST(0x070000000000240B0B AS DateTime2), CAST(0x0703F091FC9C7C480B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', N'12300', N'Montevideo', NULL, 0, NULL)
INSERT [dbo].[ClientesBasicos] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [FechaRegistro], [Direccion], [CodigoPostal], [Ciudad], [Notas], [EsActivo], [UltimaVisita]) VALUES (4, N'Mateo', N'Pírez', N'mateo@hotmail.com', N'23654987', CAST(0x0700000000007B260B AS DateTime2), CAST(0x07C784E7A97D7D480B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', N'12300', N'Montevideo', N'Niño hermoso ', 1, NULL)
SET IDENTITY_INSERT [dbo].[ClientesBasicos] OFF
/****** Object:  Table [dbo].[Clientes]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[Apellido] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Telefono] [nvarchar](max) NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[Direccion] [nvarchar](max) NULL,
	[Ciudad] [nvarchar](max) NULL,
	[CodigoPostal] [nvarchar](max) NULL,
	[Notas] [nvarchar](max) NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [Direccion], [Ciudad], [CodigoPostal], [Notas], [EsActivo], [FechaRegistro]) VALUES (1, N'Marcelo', N'Pirez', N'marcelopirezkondilis@gmail.com', N'094640299', CAST(0x070000000000C4030B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', N'Montevideo', NULL, NULL, 1, CAST(0x079B395650AA7B480B AS DateTime2))
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [Direccion], [Ciudad], [CodigoPostal], [Notas], [EsActivo], [FechaRegistro]) VALUES (3, N'Rosana', N'D''Angelo', N'rosanadan82@gmail.com', N'094110458', CAST(0x070000000000240B0B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', N'Montevideo', N'12300', NULL, 0, CAST(0x0703F091FC9C7C480B AS DateTime2))
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido], [Email], [Telefono], [FechaNacimiento], [Direccion], [Ciudad], [CodigoPostal], [Notas], [EsActivo], [FechaRegistro]) VALUES (4, N'Mateo', N'Pírez', N'mateo@hotmail.com', N'23654987', CAST(0x0700000000007B260B AS DateTime2), N'Matilde Pacheco de Batlle y Ordoñez 4003', N'Montevideo', N'12300', N'Niño hermoso ', 1, CAST(0x07C784E7A97D7D480B AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime2](7) NOT NULL,
	[NumeroVenta] [nvarchar](20) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[EstadoVenta] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON
INSERT [dbo].[Ventas] ([VentaId], [FechaVenta], [NumeroVenta], [EmpleadoId], [ClienteId], [SubTotal], [Descuento], [Total], [EstadoVenta], [Observaciones], [TenantId], [EsActivo], [FechaCreacion]) VALUES (1, CAST(0x07D0CD6E06B87D480B AS DateTime2), N'V-001', 5, 4, CAST(1200.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(1200.00 AS Decimal(10, 2)), N'Completada', NULL, N'default', 1, CAST(0x0779B15201087E480B AS DateTime2))
INSERT [dbo].[Ventas] ([VentaId], [FechaVenta], [NumeroVenta], [EmpleadoId], [ClienteId], [SubTotal], [Descuento], [Total], [EstadoVenta], [Observaciones], [TenantId], [EsActivo], [FechaCreacion]) VALUES (2, CAST(0x07AEBF5712BD7D480B AS DateTime2), N'V-002', 6, 1, CAST(5180.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(5180.00 AS Decimal(10, 2)), N'Completada', NULL, N'default', 1, CAST(0x07BE893B0D0D7E480B AS DateTime2))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
/****** Object:  Table [dbo].[VentaDetalles]    Script Date: 07/22/2025 22:55:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalles](
	[VentaDetalleId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ServicioId] [int] NOT NULL,
	[NombreServicio] [nvarchar](100) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[EmpleadoServicioId] [int] NULL,
	[NotasServicio] [nvarchar](200) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_VentaDetalles] PRIMARY KEY CLUSTERED 
(
	[VentaDetalleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[VentaDetalles] ON
INSERT [dbo].[VentaDetalles] ([VentaDetalleId], [VentaId], [ServicioId], [NombreServicio], [PrecioUnitario], [Cantidad], [Subtotal], [EmpleadoServicioId], [NotasServicio], [TenantId], [FechaCreacion]) VALUES (0, 1, 3, N'Corte Moderno Mujer', CAST(1200.00 AS Decimal(10, 2)), 1, CAST(1200.00 AS Decimal(10, 2)), NULL, NULL, N'default', CAST(0x07A65A5201087E480B AS DateTime2))
INSERT [dbo].[VentaDetalles] ([VentaDetalleId], [VentaId], [ServicioId], [NombreServicio], [PrecioUnitario], [Cantidad], [Subtotal], [EmpleadoServicioId], [NotasServicio], [TenantId], [FechaCreacion]) VALUES (1, 2, 6, N'Coloración Completa', CAST(2000.00 AS Decimal(10, 2)), 1, CAST(2000.00 AS Decimal(10, 2)), NULL, NULL, N'default', CAST(0x07C4463B0D0D7E480B AS DateTime2))
INSERT [dbo].[VentaDetalles] ([VentaDetalleId], [VentaId], [ServicioId], [NombreServicio], [PrecioUnitario], [Cantidad], [Subtotal], [EmpleadoServicioId], [NotasServicio], [TenantId], [FechaCreacion]) VALUES (2, 2, 13, N'Mechas Cabello largo', CAST(2000.00 AS Decimal(10, 2)), 1, CAST(2000.00 AS Decimal(10, 2)), NULL, NULL, N'default', CAST(0x07664C3B0D0D7E480B AS DateTime2))
SET IDENTITY_INSERT [dbo].[VentaDetalles] OFF
/****** Object:  Default [DF__Clientes__EsActi__571DF1D5]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Clientes__FechaR__5812160E]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
/****** Object:  Default [DF__ClientesB__Fecha__619B8048]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[ClientesBasicos] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
/****** Object:  Default [DF__ClientesB__EsAct__628FA481]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[ClientesBasicos] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Empleados__Fecha__5165187F]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
/****** Object:  Default [DF__Empleados__EsAct__52593CB8]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Servicios__EsAct__5CD6CB2B]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Servicios__TipoS__68487DD7]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [TipoServicioId]
GO
/****** Object:  Default [DF__Servicios__Tenan__693CA210]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('') FOR [TenantId]
GO
/****** Object:  Default [DF__Servicios__Activ__6A30C649]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Servicios__Actua__6B24EA82]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('') FOR [ActualizadoPor]
GO
/****** Object:  Default [DF__Servicios__Cread__6C190EBB]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('') FOR [CreadoPor]
GO
/****** Object:  Default [DF__Servicios__Fecha__6D0D32F4]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Servicios__Moned__6E01572D]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('CLP') FOR [Moneda]
GO
/****** Object:  Default [DF__TiposServ__Preci__6754599E]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [PrecioBase]
GO
/****** Object:  Default [DF__TiposServ__Codig__6EF57B66]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('') FOR [Codigo]
GO
/****** Object:  Default [DF__TiposServ__Durac__6FE99F9F]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((60)) FOR [DuracionEstimadaMinutos]
GO
/****** Object:  Default [DF__TiposServ__EsAct__70DDC3D8]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__TiposServ__EsPor__71D1E811]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [EsPorDefecto]
GO
/****** Object:  Default [DF__TiposServ__EsSis__72C60C4A]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [EsSistema]
GO
/****** Object:  Default [DF__TiposServ__Fecha__73BA3083]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__TiposServ__Orden__74AE54BC]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [Orden]
GO
/****** Object:  Default [DF__TiposServ__Permi__75A278F5]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [PermiteDescuentos]
GO
/****** Object:  Default [DF__TiposServ__Requi__76969D2E]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [RequiereEspecialista]
GO
/****** Object:  Default [DF__TiposServ__Tenan__778AC167]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('') FOR [TenantId]
GO
/****** Object:  Default [DF__TiposServ__Activ__787EE5A0]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__TiposServ__Actua__797309D9]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('') FOR [ActualizadoPor]
GO
/****** Object:  Default [DF__TiposServ__Cread__7A672E12]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('') FOR [CreadoPor]
GO
/****** Object:  Default [DF__VentaDeta__Canti__06CD04F7]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
/****** Object:  Default [DF__VentaDeta__Tenan__07C12930]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__VentaDeta__Fecha__08B54D69]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Ventas__Descuent__7E37BEF6]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
/****** Object:  Default [DF__Ventas__EstadoVe__7F2BE32F]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Completada') FOR [EstadoVenta]
GO
/****** Object:  Default [DF__Ventas__TenantId__00200768]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Ventas__EsActivo__01142BA1]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Ventas__FechaCre__02084FDA]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getutcdate()) FOR [FechaCreacion]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Empleados]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Empleados] FOREIGN KEY([EmpleadoServicioId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Empleados]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Servicios]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Servicios] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Servicios]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Ventas]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Ventas]
GO
/****** Object:  ForeignKey [FK_Ventas_Clientes]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
/****** Object:  ForeignKey [FK_Ventas_Empleados]    Script Date: 07/22/2025 22:55:43 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Empleados]
GO
