USE [master]
GO
/****** Object:  Database [PeluqueriaSaaSDB]    Script Date: 08/29/2025 22:55:31 ******/
CREATE DATABASE [PeluqueriaSaaSDB] ON  PRIMARY 
( NAME = N'PeluqueriaSaaSDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PeluqueriaSaaSDB.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PeluqueriaSaaSDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\PeluqueriaSaaSDB_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PeluqueriaSaaSDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PeluqueriaSaaSDB]
GO
/****** Object:  Table [dbo].[EstadoServicio]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadoServicio](
	[Id] [int] NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Color] [nvarchar](7) NOT NULL,
	[PermiteCobro] [bit] NOT NULL,
	[EsFinal] [bit] NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NOT NULL,
	[ActualizadoPor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EstadoServicio_Activo] ON [dbo].[EstadoServicio] 
(
	[Activo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_EstadoServicio_Codigo] ON [dbo].[EstadoServicio] 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_EstadoServicio_TenantId] ON [dbo].[EstadoServicio] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Settings]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Settings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombrePeluqueria] [nvarchar](100) NOT NULL,
	[DireccionPeluqueria] [nvarchar](200) NOT NULL,
	[TelefonoPeluqueria] [nvarchar](20) NOT NULL,
	[EmailPeluqueria] [nvarchar](100) NOT NULL,
	[ResumenServicioHabilitado] [bit] NOT NULL,
	[ResumenEncabezado] [nvarchar](500) NOT NULL,
	[ResumenPiePagina] [nvarchar](1000) NOT NULL,
	[MostrarLogoEnResumen] [bit] NOT NULL,
	[RutaLogo] [nvarchar](200) NOT NULL,
	[MostrarDatosCliente] [bit] NOT NULL,
	[MostrarEmpleadoServicio] [bit] NOT NULL,
	[MostrarFechaHora] [bit] NOT NULL,
	[MostrarDetalleServicios] [bit] NOT NULL,
	[MostrarTotalServicio] [bit] NOT NULL,
	[ColorPrimario] [nvarchar](50) NOT NULL,
	[ColorSecundario] [nvarchar](50) NOT NULL,
	[TamanoFuente] [nvarchar](20) NOT NULL,
	[SimboloMoneda] [nvarchar](10) NOT NULL,
	[FormatoMoneda] [nvarchar](50) NOT NULL,
	[NotificacionesEmail] [bit] NOT NULL,
	[BackupAutomatico] [bit] NOT NULL,
	[DiasRetencionVentas] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
	[CodigoPeluqueria] [nvarchar](50) NOT NULL,
	[TemplateCustomHTML] [nvarchar](2000) NULL,
	[UsarTemplateCustom] [bit] NOT NULL,
	[SerieComprobante] [varchar](10) NOT NULL,
	[UltimoNumeroComprobante] [int] NOT NULL,
	[CantidadCopiasComprobante] [int] NOT NULL,
	[TextoCopiaCliente] [nvarchar](50) NULL,
	[TextoCopiaComercio] [nvarchar](50) NULL,
	[FormatoImpresion] [varchar](20) NULL,
	[AnchoTicketMM] [int] NULL,
	[ImprimirAutomatico] [bit] NOT NULL,
	[MostrarPreciosEnComprobante] [bit] NOT NULL,
	[MostrarEmpleadoEnComprobante] [bit] NOT NULL,
 CONSTRAINT [PK_Settings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Settings_CodigoPeluqueria] ON [dbo].[Settings] 
(
	[CodigoPeluqueria] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposServicio]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposServicio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Codigo] [nvarchar](20) NULL,
	[Color] [nvarchar](20) NULL,
	[DuracionEstimadaMinutos] [int] NULL,
	[EsPorDefecto] [bit] NOT NULL,
	[EsSistema] [bit] NOT NULL,
	[Icono] [nvarchar](50) NULL,
	[Orden] [int] NULL,
	[PermiteDescuentos] [bit] NOT NULL,
	[PrecioBase] [decimal](18, 2) NULL,
	[RequiereEspecialista] [bit] NOT NULL,
	[TiempoPreparacionMinutos] [int] NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_TiposServicio] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposImpuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[TipoCalculo] [nvarchar](20) NOT NULL,
	[AplicaA] [nvarchar](20) NOT NULL,
	[OrdenAplicacion] [int] NOT NULL,
	[IncluidoEnPrecio] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[Notas] [nvarchar](1000) NULL,
	[EsActivo] [bit] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Clientes_TenantId] ON [dbo].[Clientes] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[CreadoPor] [nvarchar](100) NOT NULL,
	[ActualizadoPor] [nvarchar](100) NOT NULL,
	[Codigo] [nvarchar](50) NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[PrecioCosto] [decimal](18, 2) NULL,
	[Margen] [decimal](5, 2) NULL,
	[Oferta] [bit] NOT NULL,
	[PrecioOferta] [decimal](18, 2) NULL,
	[Stock] [int] NOT NULL,
	[StockMinimo] [int] NOT NULL,
	[RequiereStock] [bit] NOT NULL,
	[Categoria] [nvarchar](50) NULL,
	[Marca] [nvarchar](50) NULL,
	[Proveedor] [nvarchar](100) NULL,
	[Peso] [decimal](8, 3) NULL,
	[Contenido] [nvarchar](50) NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Articulos_Codigo] ON [dbo].[Articulos] 
(
	[Codigo] ASC
)
WHERE ([Codigo] IS NOT NULL)
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Articulos_Nombre] ON [dbo].[Articulos] 
(
	[Nombre] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Articulos_TenantId] ON [dbo].[Articulos] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empresas]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empresas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[RUT] [nvarchar](50) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SitioWeb] [nvarchar](200) NULL,
	[Logo] [nvarchar](500) NULL,
	[EsActiva] [bit] NOT NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[PlanSuscripcion] [nvarchar](20) NOT NULL,
	[FechaVencimientoSuscripcion] [datetime2](7) NULL,
	[HorarioAperturaDefecto] [time](7) NOT NULL,
	[HorarioCierreDefecto] [time](7) NOT NULL,
	[TiempoSlotMinutos] [int] NOT NULL,
	[DiasAnticipacionMaxima] [int] NOT NULL,
	[PermiteReservaOnline] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
 CONSTRAINT [PK_Empresas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfiguracionComprobantes]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ConfiguracionComprobantes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[NombreComercio] [nvarchar](200) NOT NULL,
	[NombreFantasia] [nvarchar](200) NULL,
	[Direccion] [nvarchar](300) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[Telefono] [varchar](50) NULL,
	[Email] [varchar](100) NULL,
	[Website] [varchar](200) NULL,
	[SerieComprobante] [varchar](10) NOT NULL,
	[UltimoNumero] [int] NOT NULL,
	[CantidadCopias] [int] NOT NULL,
	[TextoCopiaCliente] [nvarchar](50) NULL,
	[TextoCopiaComercio] [nvarchar](50) NULL,
	[ImprimirAutomatico] [bit] NOT NULL,
	[FormatoImpresion] [varchar](20) NULL,
	[AnchoTicketMM] [int] NULL,
	[TextoEncabezado] [nvarchar](500) NULL,
	[TextoPie] [nvarchar](500) NULL,
	[TextoLegal] [nvarchar](200) NOT NULL,
	[MostrarTextoLegal] [bit] NOT NULL,
	[MostrarPrecios] [bit] NOT NULL,
	[MostrarEmpleado] [bit] NOT NULL,
	[MostrarCodigos] [bit] NOT NULL,
	[MostrarObservaciones] [bit] NOT NULL,
	[AgruparPorEmpleado] [bit] NOT NULL,
	[LogoUrl] [nvarchar](500) NULL,
	[LogoBase64] [nvarchar](max) NULL,
	[MostrarLogo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaActualizacion] [datetime] NOT NULL,
	[CreadoPor] [nvarchar](100) NOT NULL,
	[ActualizadoPor] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_ConfiguracionComprobantes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ_ConfiguracionComprobantes_Tenant] UNIQUE NONCLUSTERED 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Comprobantes]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Comprobantes](
	[ComprobanteId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[Serie] [varchar](10) NOT NULL,
	[Numero] [int] NOT NULL,
	[FechaEmision] [datetime2](7) NOT NULL,
	[ClienteNombre] [nvarchar](400) NOT NULL,
	[ClienteDocumento] [varchar](20) NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Impuestos] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[MetodoPago] [varchar](50) NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[MotivoAnulacion] [nvarchar](500) NULL,
	[FechaAnulacion] [datetime2](7) NULL,
	[UsuarioAnulacion] [nvarchar](100) NULL,
	[UsuarioEmision] [nvarchar](100) NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[CreadoPor] [nvarchar](200) NOT NULL,
	[ActualizadoPor] [nvarchar](200) NULL,
	[ClienteId] [int] NULL,
	[EmpleadoId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ComprobanteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_Comprobantes_ClienteId] ON [dbo].[Comprobantes] 
(
	[ClienteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Comprobantes_EmpleadoId] ON [dbo].[Comprobantes] 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Comprobantes_FechaEmision] ON [dbo].[Comprobantes] 
(
	[FechaEmision] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Comprobantes_TenantId] ON [dbo].[Comprobantes] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Comprobantes_VentaId] ON [dbo].[Comprobantes] 
(
	[VentaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Comprobantes_Serie_Numero_TenantId] ON [dbo].[Comprobantes] 
(
	[Serie] ASC,
	[Numero] ASC,
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprobanteDetalles]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComprobanteDetalles](
	[DetalleId] [int] IDENTITY(1,1) NOT NULL,
	[ComprobanteId] [int] NOT NULL,
	[TipoItem] [varchar](20) NOT NULL,
	[ItemId] [int] NULL,
	[Descripcion] [nvarchar](500) NOT NULL,
	[Cantidad] [decimal](10, 2) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Impuestos] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[EmpleadoNombre] [nvarchar](200) NULL,
	[TenantId] [nvarchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NULL,
	[CreadoPor] [nvarchar](200) NOT NULL,
	[ActualizadoPor] [nvarchar](200) NULL,
	[EmpleadoId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetalleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [IX_ComprobanteDetalles_ComprobanteId] ON [dbo].[ComprobanteDetalles] 
(
	[ComprobanteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ComprobanteDetalles_EmpleadoId] ON [dbo].[ComprobanteDetalles] 
(
	[EmpleadoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ComprobanteDetalles_TenantId] ON [dbo].[ComprobanteDetalles] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TasasImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TasasImpuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoImpuestoId] [int] NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Porcentaje] [decimal](5, 2) NOT NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[FechaFin] [datetime2](7) NULL,
	[CodigoTasa] [nvarchar](50) NULL,
	[EsTasaPorDefecto] [bit] NOT NULL,
	[DecretoLey] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TasasImpuestos_CodigoTasa] ON [dbo].[TasasImpuestos] 
(
	[CodigoTasa] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_TasasImpuestos_Vigencia] ON [dbo].[TasasImpuestos] 
(
	[FechaInicio] ASC,
	[FechaFin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursales]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Direccion] [nvarchar](200) NULL,
	[Telefono] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[EmpresaId] [int] NOT NULL,
	[EsActiva] [bit] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Sucursales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Sucursales_EmpresaId] ON [dbo].[Sucursales] 
(
	[EmpresaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[DuracionMinutos] [int] NOT NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Moneda] [nvarchar](3) NOT NULL,
	[TipoServicioId] [int] NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Servicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Servicios_TenantId_TipoServicioId] ON [dbo].[Servicios] 
(
	[TenantId] ASC,
	[TipoServicioId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ArticulosImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArticulosImpuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticuloId] [int] NOT NULL,
	[TasaImpuestoId] [int] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaInicioAplicacion] [datetime2](7) NOT NULL,
	[FechaFinAplicacion] [datetime2](7) NULL,
	[PorcentajeEspecial] [decimal](5, 2) NULL,
	[Notas] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ArticulosImpuestos_ArticuloId] ON [dbo].[ArticulosImpuestos] 
(
	[ArticuloId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ArticulosImpuestos_TasaImpuestoId] ON [dbo].[ArticulosImpuestos] 
(
	[TasaImpuestoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ArticulosImpuestos_TenantId] ON [dbo].[ArticulosImpuestos] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_ArticulosImpuestos_Articulo_Tasa_Tenant] ON [dbo].[ArticulosImpuestos] 
(
	[ArticuloId] ASC,
	[TasaImpuestoId] ASC,
	[TenantId] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiciosImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiciosImpuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServicioId] [int] NOT NULL,
	[TasaImpuestoId] [int] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaInicioAplicacion] [datetime2](7) NOT NULL,
	[FechaFinAplicacion] [datetime2](7) NULL,
	[PorcentajeEspecial] [decimal](5, 2) NULL,
	[Notas] [nvarchar](500) NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[ActualizadoPor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ServiciosImpuestos_ServicioId] ON [dbo].[ServiciosImpuestos] 
(
	[ServicioId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ServiciosImpuestos_TasaImpuestoId] ON [dbo].[ServiciosImpuestos] 
(
	[TasaImpuestoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_ServiciosImpuestos_TenantId] ON [dbo].[ServiciosImpuestos] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [UX_ServiciosImpuestos_Servicio_Tasa_Tenant] ON [dbo].[ServiciosImpuestos] 
(
	[ServicioId] ASC,
	[TasaImpuestoId] ASC,
	[TenantId] ASC
)
WHERE ([Activo]=(1))
WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estaciones]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estaciones](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[TipoEstacionId] [int] NULL,
	[SucursalId] [int] NOT NULL,
	[EsActiva] [bit] NOT NULL,
	[Capacidad] [int] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Estaciones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricoTasasImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricoTasasImpuestos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TasaImpuestoId] [int] NOT NULL,
	[PorcentajeAnterior] [decimal](5, 2) NOT NULL,
	[PorcentajeNuevo] [decimal](5, 2) NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[DecretoLey] [nvarchar](200) NULL,
	[Motivo] [nvarchar](500) NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_HistoricoTasasImpuestos_Fecha] ON [dbo].[HistoricoTasasImpuestos] 
(
	[FechaCambio] DESC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleados]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleados](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Apellido] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Telefono] [nvarchar](20) NULL,
	[FechaNacimiento] [datetime2](7) NULL,
	[FechaRegistro] [datetime2](7) NOT NULL,
	[Cargo] [nvarchar](100) NOT NULL,
	[Salario] [decimal](18, 2) NULL,
	[FechaContratacion] [datetime2](7) NOT NULL,
	[Horario] [nvarchar](200) NULL,
	[Direccion] [nvarchar](200) NULL,
	[Ciudad] [nvarchar](100) NULL,
	[CodigoPostal] [nvarchar](20) NULL,
	[Notas] [nvarchar](1000) NULL,
	[SucursalId] [int] NULL,
	[EsActivo] [bit] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[FechaIngreso] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Empleados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Empleados_SucursalId] ON [dbo].[Empleados] 
(
	[SucursalId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Empleados_TenantId] ON [dbo].[Empleados] 
(
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Citas]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Citas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaHora] [datetime2](7) NOT NULL,
	[MontoTotal] [decimal](18, 2) NOT NULL,
	[MonedaTotal] [nvarchar](3) NOT NULL,
	[MontoPagado] [decimal](18, 2) NOT NULL,
	[MonedaPago] [nvarchar](3) NOT NULL,
	[NotasCliente] [nvarchar](1000) NULL,
	[NotasInternas] [nvarchar](1000) NULL,
	[FechaPago] [datetime2](7) NULL,
	[ClienteId] [int] NOT NULL,
	[EstadoCitaId] [int] NULL,
	[EmpleadoId] [int] NULL,
	[SucursalId] [int] NOT NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_Citas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Citas_ClienteId] ON [dbo].[Citas] 
(
	[ClienteId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Citas_FechaHora] ON [dbo].[Citas] 
(
	[FechaHora] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaId] [int] IDENTITY(1,1) NOT NULL,
	[FechaVenta] [datetime2](7) NOT NULL,
	[NumeroVenta] [nvarchar](20) NOT NULL,
	[EmpleadoId] [int] NOT NULL,
	[ClienteId] [int] NOT NULL,
	[SubTotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[EstadoVenta] [nvarchar](20) NOT NULL,
	[Observaciones] [nvarchar](500) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[EsActivo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Ventas] PRIMARY KEY CLUSTERED 
(
	[VentaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_Ventas_FechaVenta_TenantId] ON [dbo].[Ventas] 
(
	[FechaVenta] ASC,
	[TenantId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE UNIQUE NONCLUSTERED INDEX [IX_Ventas_NumeroVenta] ON [dbo].[Ventas] 
(
	[NumeroVenta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentaDetalles]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentaDetalles](
	[VentaDetalleId] [int] IDENTITY(1,1) NOT NULL,
	[VentaId] [int] NOT NULL,
	[ServicioId] [int] NOT NULL,
	[NombreServicio] [nvarchar](100) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[EmpleadoServicioId] [int] NULL,
	[NotasServicio] [nvarchar](200) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[EstadoServicioId] [int] NOT NULL,
	[EmpleadoAsignadoId] [int] NULL,
	[InicioServicio] [datetime2](7) NULL,
	[FinServicio] [datetime2](7) NULL,
 CONSTRAINT [PK_VentaDetalles] PRIMARY KEY CLUSTERED 
(
	[VentaDetalleId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_VentaDetalles_EmpleadoAsignadoId] ON [dbo].[VentaDetalles] 
(
	[EmpleadoAsignadoId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_VentaDetalles_EstadoServicioId] ON [dbo].[VentaDetalles] 
(
	[EstadoServicioId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [IX_VentaDetalles_VentaId] ON [dbo].[VentaDetalles] 
(
	[VentaId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialCliente]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialCliente](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClienteId] [int] NOT NULL,
	[CitaId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Evento] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Observaciones] [nvarchar](1000) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_HistorialCliente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CitaServicios]    Script Date: 08/29/2025 22:55:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CitaServicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CitaId] [int] NOT NULL,
	[ServicioId] [int] NOT NULL,
	[EmpleadoId] [int] NULL,
	[Orden] [int] NOT NULL,
	[PrecioFinal] [decimal](18, 2) NOT NULL,
	[MonedaServicio] [nvarchar](3) NOT NULL,
	[DuracionMinutos] [int] NOT NULL,
	[HoraInicio] [datetime2](7) NULL,
	[HoraFin] [datetime2](7) NULL,
	[Notas] [nvarchar](500) NULL,
	[TenantId] [nvarchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[ActualizadoPor] [nvarchar](100) NULL,
	[EsActivo] [bit] NOT NULL,
 CONSTRAINT [PK_CitaServicios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Default [DF__EstadoSer__Permi__6DCC4D03]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ((0)) FOR [PermiteCobro]
GO
/****** Object:  Default [DF__EstadoSer__EsFin__6EC0713C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ((0)) FOR [EsFinal]
GO
/****** Object:  Default [DF__EstadoSer__Activ__6FB49575]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__EstadoSer__Tenan__70A8B9AE]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ('default-tenant') FOR [TenantId]
GO
/****** Object:  Default [DF__EstadoSer__Fecha__719CDDE7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__EstadoSer__Fecha__72910220]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__EstadoSer__Cread__73852659]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ('SYSTEM') FOR [CreadoPor]
GO
/****** Object:  Default [DF__EstadoSer__Actua__74794A92]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[EstadoServicio] ADD  DEFAULT ('SYSTEM') FOR [ActualizadoPor]
GO
/****** Object:  Default [DF__Settings__Direcc__01142BA1]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('') FOR [DireccionPeluqueria]
GO
/****** Object:  Default [DF__Settings__Telefo__02084FDA]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('') FOR [TelefonoPeluqueria]
GO
/****** Object:  Default [DF__Settings__EmailP__02FC7413]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('') FOR [EmailPeluqueria]
GO
/****** Object:  Default [DF__Settings__Resume__03F0984C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [ResumenServicioHabilitado]
GO
/****** Object:  Default [DF__Settings__Resume__04E4BC85]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('COMPROBANTE INTERNO - SIN VALOR FISCAL') FOR [ResumenEncabezado]
GO
/****** Object:  Default [DF__Settings__Resume__05D8E0BE]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('Gracias por su visita. Este comprobante es solo para control interno.') FOR [ResumenPiePagina]
GO
/****** Object:  Default [DF__Settings__Mostra__06CD04F7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [MostrarLogoEnResumen]
GO
/****** Object:  Default [DF__Settings__RutaLo__07C12930]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('') FOR [RutaLogo]
GO
/****** Object:  Default [DF__Settings__Mostra__08B54D69]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarDatosCliente]
GO
/****** Object:  Default [DF__Settings__Mostra__09A971A2]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarEmpleadoServicio]
GO
/****** Object:  Default [DF__Settings__Mostra__0A9D95DB]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarFechaHora]
GO
/****** Object:  Default [DF__Settings__Mostra__0B91BA14]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarDetalleServicios]
GO
/****** Object:  Default [DF__Settings__Mostra__0C85DE4D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarTotalServicio]
GO
/****** Object:  Default [DF__Settings__ColorP__0D7A0286]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('#007bff') FOR [ColorPrimario]
GO
/****** Object:  Default [DF__Settings__ColorS__0E6E26BF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('#6c757d') FOR [ColorSecundario]
GO
/****** Object:  Default [DF__Settings__Tamano__0F624AF8]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('12px') FOR [TamanoFuente]
GO
/****** Object:  Default [DF__Settings__Simbol__10566F31]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('$U') FOR [SimboloMoneda]
GO
/****** Object:  Default [DF__Settings__Format__114A936A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('N2') FOR [FormatoMoneda]
GO
/****** Object:  Default [DF__Settings__Notifi__123EB7A3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [NotificacionesEmail]
GO
/****** Object:  Default [DF__Settings__Backup__1332DBDC]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [BackupAutomatico]
GO
/****** Object:  Default [DF__Settings__DiasRe__14270015]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((365)) FOR [DiasRetencionVentas]
GO
/****** Object:  Default [DF__Settings__FechaC__151B244E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Settings__Activo__160F4887]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Settings__Codigo__17036CC0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('MAIN') FOR [CodigoPeluqueria]
GO
/****** Object:  Default [DF__Settings__UsarTe__17F790F9]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [UsarTemplateCustom]
GO
/****** Object:  Default [DF__Settings__SerieC__36470DEF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('CI') FOR [SerieComprobante]
GO
/****** Object:  Default [DF__Settings__Ultimo__373B3228]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [UltimoNumeroComprobante]
GO
/****** Object:  Default [DF__Settings__Cantid__382F5661]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((2)) FOR [CantidadCopiasComprobante]
GO
/****** Object:  Default [DF__Settings__TextoC__39237A9A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('CLIENTE') FOR [TextoCopiaCliente]
GO
/****** Object:  Default [DF__Settings__TextoC__3A179ED3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('COMERCIO') FOR [TextoCopiaComercio]
GO
/****** Object:  Default [DF__Settings__Format__3B0BC30C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ('TICKET') FOR [FormatoImpresion]
GO
/****** Object:  Default [DF__Settings__AnchoT__3BFFE745]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((80)) FOR [AnchoTicketMM]
GO
/****** Object:  Default [DF__Settings__Imprim__3CF40B7E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((0)) FOR [ImprimirAutomatico]
GO
/****** Object:  Default [DF__Settings__Mostra__3DE82FB7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarPreciosEnComprobante]
GO
/****** Object:  Default [DF__Settings__Mostra__3EDC53F0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Settings] ADD  DEFAULT ((1)) FOR [MostrarEmpleadoEnComprobante]
GO
/****** Object:  Default [DF__TiposServ__Color__267ABA7A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('#007bff') FOR [Color]
GO
/****** Object:  Default [DF__TiposServ__Durac__276EDEB3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((60)) FOR [DuracionEstimadaMinutos]
GO
/****** Object:  Default [DF__TiposServ__EsPor__286302EC]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [EsPorDefecto]
GO
/****** Object:  Default [DF__TiposServ__EsSis__29572725]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [EsSistema]
GO
/****** Object:  Default [DF__TiposServ__Icono__2A4B4B5E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('??') FOR [Icono]
GO
/****** Object:  Default [DF__TiposServ__Orden__2B3F6F97]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [Orden]
GO
/****** Object:  Default [DF__TiposServ__Permi__2C3393D0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [PermiteDescuentos]
GO
/****** Object:  Default [DF__TiposServ__Preci__2D27B809]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [PrecioBase]
GO
/****** Object:  Default [DF__TiposServ__Requi__2E1BDC42]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [RequiereEspecialista]
GO
/****** Object:  Default [DF__TiposServ__Tiemp__2F10007B]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((0)) FOR [TiempoPreparacionMinutos]
GO
/****** Object:  Default [DF__TiposServ__Tenan__300424B4]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__TiposServ__Activ__30F848ED]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__TiposServ__Fecha__31EC6D26]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__TiposServ__Fecha__32E0915F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__TiposServ__EsAct__33D4B598]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposServicio] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__TiposImpu__TipoC__2B0A656D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT ('PORCENTAJE') FOR [TipoCalculo]
GO
/****** Object:  Default [DF__TiposImpu__Aplic__2BFE89A6]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT ('AMBOS') FOR [AplicaA]
GO
/****** Object:  Default [DF__TiposImpu__Orden__2CF2ADDF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT ((1)) FOR [OrdenAplicacion]
GO
/****** Object:  Default [DF__TiposImpu__Inclu__2DE6D218]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT ((0)) FOR [IncluidoEnPrecio]
GO
/****** Object:  Default [DF__TiposImpu__Activ__2EDAF651]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__TiposImpu__Fecha__2FCF1A8A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TiposImpuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Clientes__EsActi__145C0A3F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Clientes__Tenant__15502E78]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Clientes__Activo__164452B1]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Clientes__FechaC__173876EA]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Clientes__FechaA__182C9B23]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Clientes] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Articulos__EsAct__1AD3FDA4]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Articulos__Fecha__1BC821DD]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Articulos__Ofert__1CBC4616]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((0)) FOR [Oferta]
GO
/****** Object:  Default [DF__Articulos__Stock__1DB06A4F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((0)) FOR [Stock]
GO
/****** Object:  Default [DF__Articulos__Stock__1EA48E88]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((0)) FOR [StockMinimo]
GO
/****** Object:  Default [DF__Articulos__Requi__1F98B2C1]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Articulos] ADD  DEFAULT ((1)) FOR [RequiereStock]
GO
/****** Object:  Default [DF__Empresas__EsActi__7F60ED59]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
/****** Object:  Default [DF__Empresas__FechaR__00551192]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
/****** Object:  Default [DF__Empresas__PlanSu__014935CB]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ('BASICO') FOR [PlanSuscripcion]
GO
/****** Object:  Default [DF__Empresas__Horari__023D5A04]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ('09:00:00') FOR [HorarioAperturaDefecto]
GO
/****** Object:  Default [DF__Empresas__Horari__03317E3D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ('18:00:00') FOR [HorarioCierreDefecto]
GO
/****** Object:  Default [DF__Empresas__Tiempo__0425A276]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((15)) FOR [TiempoSlotMinutos]
GO
/****** Object:  Default [DF__Empresas__DiasAn__0519C6AF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((30)) FOR [DiasAnticipacionMaxima]
GO
/****** Object:  Default [DF__Empresas__Permit__060DEAE8]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [PermiteReservaOnline]
GO
/****** Object:  Default [DF__Empresas__Activo__07020F21]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Empresas__FechaC__07F6335A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Empresas__FechaA__08EA5793]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empresas] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Configura__Tenan__0B5CAFEA]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Configura__Ciuda__0C50D423]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('Montevideo') FOR [Ciudad]
GO
/****** Object:  Default [DF__Configura__Serie__0D44F85C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('CI') FOR [SerieComprobante]
GO
/****** Object:  Default [DF__Configura__Ultim__0E391C95]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((0)) FOR [UltimoNumero]
GO
/****** Object:  Default [DF__Configura__Canti__0F2D40CE]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((2)) FOR [CantidadCopias]
GO
/****** Object:  Default [DF__Configura__Texto__10216507]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('CLIENTE') FOR [TextoCopiaCliente]
GO
/****** Object:  Default [DF__Configura__Texto__11158940]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('COMERCIO') FOR [TextoCopiaComercio]
GO
/****** Object:  Default [DF__Configura__Impri__1209AD79]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((0)) FOR [ImprimirAutomatico]
GO
/****** Object:  Default [DF__Configura__Forma__12FDD1B2]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('TICKET') FOR [FormatoImpresion]
GO
/****** Object:  Default [DF__Configura__Ancho__13F1F5EB]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((80)) FOR [AnchoTicketMM]
GO
/****** Object:  Default [DF__Configura__Texto__14E61A24]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('Gracias por su preferencia') FOR [TextoPie]
GO
/****** Object:  Default [DF__Configura__Texto__15DA3E5D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('COMPROBANTE SIN VALOR FISCAL - USO INTERNO') FOR [TextoLegal]
GO
/****** Object:  Default [DF__Configura__Mostr__16CE6296]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((1)) FOR [MostrarTextoLegal]
GO
/****** Object:  Default [DF__Configura__Mostr__17C286CF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((1)) FOR [MostrarPrecios]
GO
/****** Object:  Default [DF__Configura__Mostr__18B6AB08]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((1)) FOR [MostrarEmpleado]
GO
/****** Object:  Default [DF__Configura__Mostr__19AACF41]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((0)) FOR [MostrarCodigos]
GO
/****** Object:  Default [DF__Configura__Mostr__1A9EF37A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((1)) FOR [MostrarObservaciones]
GO
/****** Object:  Default [DF__Configura__Agrup__1B9317B3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((0)) FOR [AgruparPorEmpleado]
GO
/****** Object:  Default [DF__Configura__Mostr__1C873BEC]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((0)) FOR [MostrarLogo]
GO
/****** Object:  Default [DF__Configura__Activ__1D7B6025]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Configura__Fecha__1E6F845E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Configura__Fecha__1F63A897]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Configura__Cread__2057CCD0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('Sistema') FOR [CreadoPor]
GO
/****** Object:  Default [DF__Configura__Actua__214BF109]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ConfiguracionComprobantes] ADD  DEFAULT ('Sistema') FOR [ActualizadoPor]
GO
/****** Object:  Default [DF__Comproban__Fecha__10E07F16]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT (getdate()) FOR [FechaEmision]
GO
/****** Object:  Default [DF__Comproban__Descu__11D4A34F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ((0)) FOR [Descuento]
GO
/****** Object:  Default [DF__Comproban__Impue__12C8C788]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ((0)) FOR [Impuestos]
GO
/****** Object:  Default [DF__Comproban__Estad__13BCEBC1]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ('EMITIDO') FOR [Estado]
GO
/****** Object:  Default [DF__Comproban__Tenan__14B10FFA]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Comproban__Activ__15A53433]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Comproban__Fecha__1699586C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Comproban__Emple__2116E6DF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Comprobantes] ADD  DEFAULT ((50)) FOR [EmpleadoId]
GO
/****** Object:  Default [DF__Comproban__Descu__1B5E0D89]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles] ADD  DEFAULT ((0)) FOR [Descuento]
GO
/****** Object:  Default [DF__Comproban__Impue__1C5231C2]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles] ADD  DEFAULT ((0)) FOR [Impuestos]
GO
/****** Object:  Default [DF__Comproban__Tenan__1D4655FB]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Comproban__Activ__1E3A7A34]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Comproban__Fecha__1F2E9E6D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__TasasImpu__EsTas__3587F3E0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TasasImpuestos] ADD  DEFAULT ((0)) FOR [EsTasaPorDefecto]
GO
/****** Object:  Default [DF__TasasImpu__Activ__367C1819]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TasasImpuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__TasasImpu__Fecha__37703C52]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TasasImpuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Sucursale__EsAct__0BC6C43E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
/****** Object:  Default [DF__Sucursale__Tenan__0CBAE877]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Sucursale__Activ__0DAF0CB0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Sucursale__Fecha__0EA330E9]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Sucursale__Fecha__0F975522]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Sucursale__EsAct__108B795B]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Servicios__Preci__36B12243]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((0)) FOR [Precio]
GO
/****** Object:  Default [DF__Servicios__Moned__37A5467C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('UYU') FOR [Moneda]
GO
/****** Object:  Default [DF__Servicios__EsAct__38996AB5]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Servicios__Activ__398D8EEE]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Servicios__Tenan__3A81B327]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Servicios__Fecha__3B75D760]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Servicios__Fecha__3C69FB99]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Articulos__Activ__540C7B00]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ArticulosImpuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Articulos__Fecha__55009F39]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ArticulosImpuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Articulos__Fecha__55F4C372]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ArticulosImpuestos] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Servicios__Activ__5AB9788F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ServiciosImpuestos] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Servicios__Fecha__5BAD9CC8]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ServiciosImpuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Servicios__Fecha__5CA1C101]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ServiciosImpuestos] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Estacione__EsAct__403A8C7D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT ((1)) FOR [EsActiva]
GO
/****** Object:  Default [DF__Estacione__Capac__412EB0B6]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT ((1)) FOR [Capacidad]
GO
/****** Object:  Default [DF__Estacione__Tenan__4222D4EF]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Estacione__Activ__4316F928]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Estacione__Fecha__440B1D61]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Estacione__Fecha__44FF419A]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Estacione__EsAct__45F365D3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Historico__Fecha__4E53A1AA]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistoricoTasasImpuestos] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Empleados__Fecha__1B0907CE]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
/****** Object:  Default [DF__Empleados__Cargo__1BFD2C07]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ('Estilista') FOR [Cargo]
GO
/****** Object:  Default [DF__Empleados__Fecha__1CF15040]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaContratacion]
GO
/****** Object:  Default [DF__Empleados__EsAct__1DE57479]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Empleados__Tenan__1ED998B2]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Empleados__Activ__1FCDBCEB]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Empleados__Fecha__20C1E124]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Empleados__Fecha__21B6055D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Empleados__Fecha__22AA2996]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
/****** Object:  Default [DF__Citas__MontoTota__49C3F6B7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((0)) FOR [MontoTotal]
GO
/****** Object:  Default [DF__Citas__MonedaTot__4AB81AF0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('UYU') FOR [MonedaTotal]
GO
/****** Object:  Default [DF__Citas__MontoPaga__4BAC3F29]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((0)) FOR [MontoPagado]
GO
/****** Object:  Default [DF__Citas__MonedaPag__4CA06362]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('UYU') FOR [MonedaPago]
GO
/****** Object:  Default [DF__Citas__TenantId__4D94879B]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Citas__Activo__4E88ABD4]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Citas__FechaCrea__4F7CD00D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Citas__FechaActu__5070F446]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Citas__EsActivo__5165187F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Ventas__FechaVen__6477ECF3]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
/****** Object:  Default [DF__Ventas__SubTotal__656C112C]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [SubTotal]
GO
/****** Object:  Default [DF__Ventas__Descuent__66603565]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
/****** Object:  Default [DF__Ventas__Total__6754599E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [Total]
GO
/****** Object:  Default [DF__Ventas__EstadoVe__68487DD7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Completada') FOR [EstadoVenta]
GO
/****** Object:  Default [DF__Ventas__TenantId__693CA210]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Ventas__EsActivo__6A30C649]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__Ventas__FechaCre__6B24EA82]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__VentaDeta__Canti__6FE99F9F]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
/****** Object:  Default [DF__VentaDeta__Tenan__70DDC3D8]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__VentaDeta__Fecha__71D1E811]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Historial__Fecha__778AC167]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
/****** Object:  Default [DF__Historial__Tenan__787EE5A0]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__Historial__Activ__797309D9]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__Historial__Fecha__7A672E12]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__Historial__Fecha__7B5B524B]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__Historial__EsAct__7C4F7684]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Default [DF__CitaServi__Orden__571DF1D5]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ((1)) FOR [Orden]
GO
/****** Object:  Default [DF__CitaServi__Preci__5812160E]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ((0)) FOR [PrecioFinal]
GO
/****** Object:  Default [DF__CitaServi__Moned__59063A47]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ('UYU') FOR [MonedaServicio]
GO
/****** Object:  Default [DF__CitaServi__Durac__59FA5E80]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ((0)) FOR [DuracionMinutos]
GO
/****** Object:  Default [DF__CitaServi__Tenan__5AEE82B9]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ('default') FOR [TenantId]
GO
/****** Object:  Default [DF__CitaServi__Activ__5BE2A6F2]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
/****** Object:  Default [DF__CitaServi__Fecha__5CD6CB2B]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
/****** Object:  Default [DF__CitaServi__Fecha__5DCAEF64]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  Default [DF__CitaServi__EsAct__5EBF139D]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios] ADD  DEFAULT ((1)) FOR [EsActivo]
GO
/****** Object:  Check [CK__TasasImpu__Porce__3493CFA7]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TasasImpuestos]  WITH CHECK ADD CHECK  (([Porcentaje]>=(0) AND [Porcentaje]<=(100)))
GO
/****** Object:  ForeignKey [FK_ComprobanteDetalles_Comprobantes]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ComprobanteDetalles]  WITH CHECK ADD  CONSTRAINT [FK_ComprobanteDetalles_Comprobantes] FOREIGN KEY([ComprobanteId])
REFERENCES [dbo].[Comprobantes] ([ComprobanteId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ComprobanteDetalles] CHECK CONSTRAINT [FK_ComprobanteDetalles_Comprobantes]
GO
/****** Object:  ForeignKey [FK_TasasImpuestos_TipoImpuesto]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[TasasImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_TasasImpuestos_TipoImpuesto] FOREIGN KEY([TipoImpuestoId])
REFERENCES [dbo].[TiposImpuestos] ([Id])
GO
ALTER TABLE [dbo].[TasasImpuestos] CHECK CONSTRAINT [FK_TasasImpuestos_TipoImpuesto]
GO
/****** Object:  ForeignKey [FK_Sucursales_Empresas]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Sucursales]  WITH CHECK ADD  CONSTRAINT [FK_Sucursales_Empresas] FOREIGN KEY([EmpresaId])
REFERENCES [dbo].[Empresas] ([Id])
GO
ALTER TABLE [dbo].[Sucursales] CHECK CONSTRAINT [FK_Sucursales_Empresas]
GO
/****** Object:  ForeignKey [FK_Servicios_TiposServicio]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD  CONSTRAINT [FK_Servicios_TiposServicio] FOREIGN KEY([TipoServicioId])
REFERENCES [dbo].[TiposServicio] ([Id])
GO
ALTER TABLE [dbo].[Servicios] CHECK CONSTRAINT [FK_Servicios_TiposServicio]
GO
/****** Object:  ForeignKey [FK_ArticulosImpuestos_Articulos]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ArticulosImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosImpuestos_Articulos] FOREIGN KEY([ArticuloId])
REFERENCES [dbo].[Articulos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ArticulosImpuestos] CHECK CONSTRAINT [FK_ArticulosImpuestos_Articulos]
GO
/****** Object:  ForeignKey [FK_ArticulosImpuestos_TasasImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ArticulosImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_ArticulosImpuestos_TasasImpuestos] FOREIGN KEY([TasaImpuestoId])
REFERENCES [dbo].[TasasImpuestos] ([Id])
GO
ALTER TABLE [dbo].[ArticulosImpuestos] CHECK CONSTRAINT [FK_ArticulosImpuestos_TasasImpuestos]
GO
/****** Object:  ForeignKey [FK_ServiciosImpuestos_Servicios]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ServiciosImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_ServiciosImpuestos_Servicios] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiciosImpuestos] CHECK CONSTRAINT [FK_ServiciosImpuestos_Servicios]
GO
/****** Object:  ForeignKey [FK_ServiciosImpuestos_TasasImpuestos]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[ServiciosImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_ServiciosImpuestos_TasasImpuestos] FOREIGN KEY([TasaImpuestoId])
REFERENCES [dbo].[TasasImpuestos] ([Id])
GO
ALTER TABLE [dbo].[ServiciosImpuestos] CHECK CONSTRAINT [FK_ServiciosImpuestos_TasasImpuestos]
GO
/****** Object:  ForeignKey [FK_Estaciones_Sucursales]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Estaciones]  WITH CHECK ADD  CONSTRAINT [FK_Estaciones_Sucursales] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Estaciones] CHECK CONSTRAINT [FK_Estaciones_Sucursales]
GO
/****** Object:  ForeignKey [FK_HistoricoTasasImpuestos_TasaImpuesto]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistoricoTasasImpuestos]  WITH CHECK ADD  CONSTRAINT [FK_HistoricoTasasImpuestos_TasaImpuesto] FOREIGN KEY([TasaImpuestoId])
REFERENCES [dbo].[TasasImpuestos] ([Id])
GO
ALTER TABLE [dbo].[HistoricoTasasImpuestos] CHECK CONSTRAINT [FK_HistoricoTasasImpuestos_TasaImpuesto]
GO
/****** Object:  ForeignKey [FK_Empleados_Sucursales]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Empleados]  WITH CHECK ADD  CONSTRAINT [FK_Empleados_Sucursales] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Empleados] CHECK CONSTRAINT [FK_Empleados_Sucursales]
GO
/****** Object:  ForeignKey [FK_Citas_Clientes]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Clientes]
GO
/****** Object:  ForeignKey [FK_Citas_Empleados]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Empleados]
GO
/****** Object:  ForeignKey [FK_Citas_Sucursales]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Citas]  WITH CHECK ADD  CONSTRAINT [FK_Citas_Sucursales] FOREIGN KEY([SucursalId])
REFERENCES [dbo].[Sucursales] ([Id])
GO
ALTER TABLE [dbo].[Citas] CHECK CONSTRAINT [FK_Citas_Sucursales]
GO
/****** Object:  ForeignKey [FK_Ventas_Clientes]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Clientes]
GO
/****** Object:  ForeignKey [FK_Ventas_Empleados]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD  CONSTRAINT [FK_Ventas_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[Ventas] CHECK CONSTRAINT [FK_Ventas_Empleados]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Empleados]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Empleados] FOREIGN KEY([EmpleadoServicioId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Empleados]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Servicios]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Servicios] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Servicios]
GO
/****** Object:  ForeignKey [FK_VentaDetalles_Ventas]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[VentaDetalles]  WITH CHECK ADD  CONSTRAINT [FK_VentaDetalles_Ventas] FOREIGN KEY([VentaId])
REFERENCES [dbo].[Ventas] ([VentaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VentaDetalles] CHECK CONSTRAINT [FK_VentaDetalles_Ventas]
GO
/****** Object:  ForeignKey [FK_HistorialCliente_Citas]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente]  WITH CHECK ADD  CONSTRAINT [FK_HistorialCliente_Citas] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([Id])
GO
ALTER TABLE [dbo].[HistorialCliente] CHECK CONSTRAINT [FK_HistorialCliente_Citas]
GO
/****** Object:  ForeignKey [FK_HistorialCliente_Clientes]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[HistorialCliente]  WITH CHECK ADD  CONSTRAINT [FK_HistorialCliente_Clientes] FOREIGN KEY([ClienteId])
REFERENCES [dbo].[Clientes] ([Id])
GO
ALTER TABLE [dbo].[HistorialCliente] CHECK CONSTRAINT [FK_HistorialCliente_Clientes]
GO
/****** Object:  ForeignKey [FK_CitaServicios_Citas]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios]  WITH CHECK ADD  CONSTRAINT [FK_CitaServicios_Citas] FOREIGN KEY([CitaId])
REFERENCES [dbo].[Citas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CitaServicios] CHECK CONSTRAINT [FK_CitaServicios_Citas]
GO
/****** Object:  ForeignKey [FK_CitaServicios_Empleados]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios]  WITH CHECK ADD  CONSTRAINT [FK_CitaServicios_Empleados] FOREIGN KEY([EmpleadoId])
REFERENCES [dbo].[Empleados] ([Id])
GO
ALTER TABLE [dbo].[CitaServicios] CHECK CONSTRAINT [FK_CitaServicios_Empleados]
GO
/****** Object:  ForeignKey [FK_CitaServicios_Servicios]    Script Date: 08/29/2025 22:55:32 ******/
ALTER TABLE [dbo].[CitaServicios]  WITH CHECK ADD  CONSTRAINT [FK_CitaServicios_Servicios] FOREIGN KEY([ServicioId])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[CitaServicios] CHECK CONSTRAINT [FK_CitaServicios_Servicios]
GO
